body {
    margin: 0px;
    padding: 0px;
    background-color: #19181D;
}

.circle{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background: linear-gradient(#313247 0%, #19181D 30%);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.circle::before, .circle:after {
    content: '';
    height: 400px;
    width: 400px;
    background: linear-gradient(#ffd1da 0%, ff849d 5%, #2d2133 25%);
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: blur(7px);
    filter: blur(7px);
    z-index: -1;

}

.circle:after {
    width: 415px;
    top:35%;
    -webkit-filter: blur(14px);
    filter: blur(7px);
    opacity: .3;
}

.msg {
    font-family: 'Inter', sans-serif;
    font-size: 8vh;
    letter-spacing: 8px;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    bottom: 10%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #ffd1da;
    text-decoration: none;
    padding: 32px;
}

img {
    position: relative;
    right: 16px;
}
